@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1703352073386') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-binggan-01:before {
  content: "\e60a";
}

.icon-kele-01:before {
  content: "\e61f";
}

.icon-naicha-01:before {
  content: "\e623";
}

.icon-nailao-01:before {
  content: "\e624";
}

